---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: false
redirect_from: 
  - /QuantumICT/publication/pub_other.html
---

<!-- 临时跳转到旧的网页 -->
<!-- <script type="text/javascript">
  window.location.href = "https://quantumict.github.io/mainpage-old/publication/pub_other.html";
</script> -->

<h2>Menu</h2>
<hr />
<a href="#2026">2026</a>
<a href="#2025">2025</a>
<a href="#2024">2024</a>
<a href="#2023">2023</a>
<a href="#2022">2022</a>
<a href="#2021">2021</a>
<a href="#2020">2020</a>
<a href="#2019">2019</a>
<a href="#2018">2018</a>
<a href="#2017">2017</a>
<a href="#2015">2015</a>
<a href="#2011">2011</a>
<a href="#2010">2010</a>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign total_posts = site.publications | size %}
{% assign reverse_index = total_posts | minus: -1 %}


<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category reversed %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <a name="{{ category[1].title }}"> </a>
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% assign reverse_index = reverse_index | minus: 1 %}
      {% include archive-single.html reverse_index=reverse_index %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



